.no-seats {
    color: red;
}

.btn-margin {
    margin: 5px;
}

.mb-5 {
    margin-bottom: 20px;
}

.img-h-still {
    object-fit: cover;
    height: 15vw;
}

@media (max-width: 600px) {
    .img-h-still {
        height: auto;
    }
}