.spacer {
  flex: 1 1 auto;
}

.bg-basic {
  background-color: #26a69a;
  color: whitesmoke;
  border: 1px solid #26a69a;
}

.bg-basic-anim {
  background-color: #26a69a;
  color: whitesmoke;
  border: 1px solid #26a69a;
  animation-name: special-off;
  animation-duration: 3s;
}

.bg-special-anim {
  background-color:  #17796f;
  color: whitesmoke;
  border: 1px solid white;
  animation-name: special-on;
  animation-duration: 3s;
}

.mr5 {
  margin-right: 5px;
}

.ml5 {
  margin-left: 5px;
}

@keyframes special-on {
  0%   {background-color:  #26a69a; border: 1px solid #26a69a;}
  25%  {background-color:    #17796f; border: 1px solid   #17796f;}
  50%  {background-color:   #17796f; border: 1px solid white;}
  100% {background-color:    #17796f; border: 1px solid white;}
}

@keyframes special-off {
  0%   {background-color:  #17796f; border: 1px solid white;}
  25% {background-color:   #26a69a; border: 1px solid white;}
  50% {background-color:   #26a69a; border: 1px solid#26a69a;}
  100% {background-color:   #26a69a; border: 1px solid#26a69a;}
}