<app-trips-navbar 
    [reservationsCount]="reservationsCount"
    (openCartSidebar)="drawer.open()"
    (openFilterSidebar)="filter.toggle()">
</app-trips-navbar>

<mat-drawer-container autosize>

    <mat-drawer #filter mode="side" position="start" (opened)="filterToggle=true" (closed)="filterToggle=false">
        <app-filter
            [minPrice]="borderPrices.low.value"
            [maxPrice]="borderPrices.high.value"
            (filterEvent)="updateFilters($event)"
            (closeFilters)="filter.close()">
        </app-filter>
    </mat-drawer>

    <mat-drawer #drawer mode="side" position="end">
        <app-cart
        *ngIf="reservationsCount!=0"
        [userID]="actualUserID"
        (closeCart)="drawer.close()">
        </app-cart>
    </mat-drawer>
    
    <app-new-trip
        *ngIf="actualUserRole.role === 'admin'">
    </app-new-trip>

    <div class="container">

        <div *ngFor="let item of tripsDataList$.reverse()" >
            <div class="row z-depth-3 bg-light" 
                *ngIf="checkFilters(item)"
                [style] = "borderPrices.high.trips.includes(item) ? 'border: 4px solid green' : '' || borderPrices.low.trips.includes(item) ? 'border: 4px solid red' : ''">
                <app-trip-details 
                    [trip]="item" 
                    [userRole]="actualUserRole.role"
                    [userTripReservations]="getUserTripReservations(item)"
                    (onAddReservation)="addTripReservation($event)" 
                    (onRemoveReservation)="removeTripReservation($event)" 
                    (onRemoveTrip)="removeTrip($event)"
                    (onRateTrip)="rateTrip(item,$event)">
                </app-trip-details>
            </div>
        </div>

    </div>
  
</mat-drawer-container>