<div class="cart-view m5 p5">
    <h5>Reservations</h5>
    <div class="z-depth-1 card m5 p5"
        *ngFor="let item of this.userReservationList$">
        {{getTrip(item.trip_id)?.name}} 
        <span class="new badge">{{item.reservations_count}}</span>
        <div>
            <button 
                class="btn-small red waves-effect waves-light mt2" 
                (click)="removeReservation(item)">
                <i class="material-icons small">delete_forever</i>
            </button>
        </div>
    </div>
    <h6 class="m5">Cost: {{cartValue | currency}}</h6>
    <div class="m5">
        <button class="btn waves-effect waves-light m5" (click)="onPurchase()">
            Purchase
        </button>
        <button class="btn red waves-effect waves-light m5" (click)="close()">
            Close
        </button>
    </div>
    
</div>