.almost-empty {
    color: darkgoldenrod;
    font-weight: bold;
}

.no-seats {
    color: darkred;
    font-weight: bold;
}

.btn-margin {
    margin: 5px;
}

.btn-margin-1 {
    margin: 1px;
}

.mb-5 {
    margin-bottom: 20px;
}

.img-h-still {
    object-fit: cover;
    height: 15vw;
}

.ml5 {
    margin-left: 5px;
}

@media (max-width: 600px) {
    .img-h-still {
        height: 250px;
        width: 100%;
    }
}

.description {
    border-top: 1px solid black;
    margin-top: 10px;
    padding: 5px;
}