<div class="col s12 m4" >
    <a [routerLink]="['/trip-page', trip.id]">
        <img class="circle img-h-still responsive-img z-depth-3" src="{{trip.img}}" alt="">
    </a>
</div>
<div class="col s12 m6">
    <div class="title">
        {{trip.name | uppercase}} - {{trip.destination}}
    </div>
    <div class="info">
        Date: {{trip.start_date}} - {{trip.end_date}} <br>
        Price: {{trip.price | currency}}
        <br>
        Seats: <span [ngClass] = "{'no-seats': trip.availableSeats == 0, 'almost-empty': trip.availableSeats <= 3}"> 
                    {{trip.availableSeats}} / {{trip.maxSeats}}
                </span> 
        <span *ngIf = "trip.availableSeats == 0" class="no-seats"> - There is no available seats
        </span>
    </div>
    <button [disabled] = "trip.availableSeats == 0 ? true : false" (click)="addReservation()" class="btn-floating waves-effect waves-light btn-margin">
        <i class="material-icons">add</i>
    </button>
    <button [disabled] = "trip.availableSeats == trip.maxSeats ? true : false" (click)="removeReservation()" class="btn-floating red waves-effect waves-light btn-margin">
        <i class="material-icons">remove</i>
    </button>
</div>
<div class="col s12 m2">
    <button
        *ngIf="userRole === 'admin'" 
        (click)="removeTrip()" 
        class="btn red waves-effect waves-light btn-margin mb-5">
        {{"remove trip" | uppercase}}
    </button>
</div>
<div class="col s12 m8 l8" style="float: right;">
    <div class="ml5 mb-5">
        <ng-container *ngFor="let star of stars">
            <app-star-rates
            class="btn-margin-1"
                [starId]="star" 
                [rating]="trip.rate"
                [hover]="hoverState" 
                (hoverStar)="hoverStar($event)" 
                (leave)="clearStarHover()"
                (bigClick)="updateRating($event)">
            </app-star-rates>
        </ng-container>
    </div>
    <div>
        Rate: {{getTripRate()}} / 5 <br>
        Voted: {{trip.rated_count}}
    </div>
</div>
<div class="col s12 description">
    {{trip.description}}
</div>