<app-trips-navbar [reservations]="actualReservations"></app-trips-navbar>

<div class="container">
    <div class="row z-depth-3" 
        *ngFor="let item of example_trips; let idx = index" 
        [style] = "borderPrices.high.id.includes(idx) ? 'border: 4px solid green' : '' || borderPrices.low.id.includes(idx) ? 'border: 4px solid red' : ''" >
        <app-trip-details 
            [trip]="item" 
            [id]="idx" 
            (onAddReservation)="addTripReservation($event)" 
            (onRemoveReservation)="removeTripReservation($event)" 
            (onRemoveTrip)="removeTrip($event)">
        </app-trip-details>
    </div>
</div>