<mat-toolbar class="z-depth-3" color="primary">
    <mat-toolbar-row>
      <span>Trip&Travel</span>
      <span class="spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-tab-group mat-align-tabs="end">
    <mat-tab label="Sign In"> 
        <div class="container">
            <div class="main-wrapper z-depth-3">
                <mat-card>
                  <mat-card-header>
                    <mat-card-title>Sign In</mat-card-title>
                  </mat-card-header>
              
                  <form>
                    <mat-card-content>
                      <mat-form-field class="full-width">
                        <input matInput type="text" placeholder="Username">
                      </mat-form-field>
              
                      <mat-form-field class="full-width">
                        <input matInput type="password" placeholder="Password">
                      </mat-form-field>
                    </mat-card-content>
                    <button 
                        class="btn-large btn-block">
                        Sign In
                    </button>
                  </form>
                </mat-card>
            </div>
          
          </div>    
    </mat-tab>
    <mat-tab label="Sign Up">
        <div class=" container">
            <div class="main-wrapper z-depth-3">
                <mat-card>
                  <mat-card-header>
                    <mat-card-title>Register</mat-card-title>
                  </mat-card-header>
              
                  <form>
              
                    <mat-card-content>
                      <mat-form-field class="full-width">
                        <input matInput type="text" placeholder="Username">
                      </mat-form-field>
              
                      <mat-form-field class="full-width">
                        <input matInput type="email" placeholder="Email">
                      </mat-form-field>
              
                      <mat-form-field class="full-width">
                        <input matInput type="password" placeholder="Password">
                      </mat-form-field>
              
                    </mat-card-content>
              
                    <button 
                        class="btn-large btn-block">
                        Sign Up
                    </button>
              
                  </form>
                </mat-card>
            </div>
          </div>
    </mat-tab>
  </mat-tab-group>