<mat-accordion>
    <mat-expansion-panel [expanded]="panelOpenState" (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>

            <mat-panel-description>
                Add New Trip
            </mat-panel-description>

        </mat-expansion-panel-header>

        <form>
            <mat-form-field class="full-width">
                <mat-label>Name</mat-label>
                <input [(ngModel)]="name" name="name" type="text" matInput>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Destination</mat-label>
                <input [(ngModel)]="destination" name="destination" type="text" matInput>
            </mat-form-field>

            <mat-form-field class="half-width">
                <mat-label>Start Date</mat-label>
                <input [(ngModel)]="start_date" [max]="end_date" name="start_date" onkeypress="return false" type="date" matInput>
            </mat-form-field>

            <mat-form-field class="half-width">
                <mat-label>End Date</mat-label>
                <input [(ngModel)]="end_date" [min]="start_date" name="end_date" onkeypress="return false" type="date" matInput>
            </mat-form-field>

            <mat-form-field class="half-width">
                <mat-label>Price</mat-label>
                <input [(ngModel)]="price" name="price" type="number" (change)="checkValue()" matInput>
                <span matPrefix>$&nbsp;</span>
            </mat-form-field>

            <mat-form-field class="half-width">
                <mat-label>Seats</mat-label>
                <input [(ngModel)]="seats" name="max_seats" type="number" (change)="checkValue()" matInput>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Description</mat-label>
                <textarea [(ngModel)]="description" name="description" type="text" matInput></textarea>
              </mat-form-field>

              <div class="file-field input-field">
                <div class="btn">
                  <span>{{"upload photo" | uppercase}}</span>
                  <input #uploadFile name="upload" type="file" (change)="onSelectFile($event)">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text" [value]="fileStatus">
                </div>
              </div>

        </form>

        <button class="btn-large waves-effect waves-light m5 ml0" (click)="saveNewTrip()">
            Save
        </button>

        <button class="btn-large red waves-effect waves-light m5" (click)="clearData()">
            Clear
        </button>
        
    </mat-expansion-panel>
</mat-accordion>